<div class="swiperContainer">
  <swiper
    class="swiper-container"
    fxFlex="auto"
    [config]="config"
    (indexChange)="onIndexChange($event)"
    (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
  >
    <div
      *ngFor="let slide of virtualSlides.slides; index as j"
      class="swiper-slide"
      [ngStyle]="{ left: virtualSlides.offset + 'px' }"
      [attr.data-swiper-slide-index]="virtualSlides.from + j"
    >
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        {{ slide }}
      </div>
    </div>
  </swiper>
</div>
